.room-card {
    max-width: 200px;
}
  
.room-image-card {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-grid-tile {
  background: blue;
  width: 100%;
}