
<div class="card mb-3">

  <div class="row g-0">

    <div class="col-md-4 image-container">
        <img src="..\assets\slider-images\room-1.jpg" class="img-fluid rounded-start" alt="...">
    </div>

    <div class="col-md-8">

      <div class="card-body">

          <h4 class="card-title">{{room.ciudad}}{{", "}}{{room.comuna}}{{", "}}{{room.calle}}</h4>

          <h5> {{room.region}} </h5>
          
          <h5 class="precio-text"> {{room.precio}} </h5>
          
          <p class="card-text"> {{room.descripcion}} </p>

          <div class="footer-container row justify-content-between">

            <div class="col-4">
              <p class="card-text"><small class="text-muted">{{room.fecha_publicacion | date}}</small></p>
            </div>

            <div class="col-4 button-container">
              <button type="button" class="btn btn-light" (click)="goToRoom(room._id)">Ver</button>
            </div>
            
          </div>

      </div>

    </div>

  </div>

</div>


