<app-toolbar></app-toolbar>

<div class="spacer"></div>

<app-faq></app-faq>

<div class="spacer"></div>


<!-- CONTACTO -->
<form class="contact-form">

    <h1 class="titulo-contacto">CONTACTO</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ej: Cristian">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Ej: cristian@gmail.com">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Motivo</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" class="boton-enviar-contacto">Enviar</button>
</form>
  




