.mat-raised-button{
    width: 100%;
}

.salto-linea {
    font-size: 0;
    display: block;
}

.mat-card-content{
    padding: 7%;
}

.icon-card{
    padding-top: 5%;

}

.footer-card {
    padding-right: 5%;
    text-align: right;
    color: gray;
}

.texto-titulo{
    font-weight: bold;
}