<span class="salto-linea"> - </span>

<button mat-raised-button color="primary" routerLink="/rent">Arrendar</button>

<span class="salto-linea"> - </span>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Nombre:</mat-card-title>

        <mat-card-subtitle>
            <mat-icon class="icon-card" aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>
            Ubicación:
        </mat-card-subtitle>

        <mat-card-subtitle>
            <mat-icon class="icon-card" aria-hidden="false" aria-label="Example home icon" fontIcon="bed"></mat-icon>
            Camas:
        </mat-card-subtitle>

        <mat-card-subtitle>
            <mat-icon class="icon-card" aria-hidden="false" aria-label="Example home icon" fontIcon="bathtub"></mat-icon>
            Baños:
        </mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      <p>{{longText}}</p>
    </mat-card-content>

    <mat-card-footer class="footer-card">Publicado: dd/mm/aa</mat-card-footer>
</mat-card>

<span class="salto-linea"> - </span>
