<mat-stepper linear #stepper>
    <mat-step>
        <ng-template matStepLabel>Servicios</ng-template>
        <button mat-button matStepperNext>Siguiente</button>
        <!-- HERE CONTENT -->
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Medio de pago</ng-template>
        <button mat-button matStepperNext>Siguiente</button>
        <!-- HERE CONTENT -->
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Confirmación y contrato</ng-template>
        <!-- HERE CONTENT -->
        <button mat-button>Descargar Contrato</button>
    </mat-step>
</mat-stepper>
